apiai==1.2.3
click==6.7
enum-compat==0.0.2
eventlet==0.21.0
flask>=0.12.3
greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2>=2.10.1
langdetect==1.0.7
MarkupSafe==1.0
numpy==1.12.1
oauthlib==2.0.2
requests>=2.20.0
requests-oauthlib==0.8.0
six==1.10.0
tweepy==3.5.0
Werkzeug==0.15.3
